<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your soul mate</h1>
    <p class="lead">Enter to see who will be best match for your character... One and only thing which is needed is <b>registration</b></p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()">Registration</button>
    <button class="btn btn-info btn-lg">More...</button>
  </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromHome]="values"></app-register>
      </div>
    </div>
  </div>
</div>