/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

body{
    width:100vw;
    height: 100vh;
    background: linear-gradient(#871981 0%, #ff99cc 100%);
    background-repeat: no-repeat;
}